body {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 30px;
    color: aquamarine;
}

#Number {
    font-size: 40px;
    color: aqua;
    display: flex;
    justify-content: center;

}

#increment-btn {
    font-size: 40px;
    color: red;
    margin-right: 20px;
}

#previous {
    font-size: 30px;
    color: teal;
}

#save-btn {
    font-size: 30px;
    color: cadetblue;
}

#text {
    font-size: 30px;
    color: teal;
}

.h2 {
    display: flex;
}