body {
    margin: 20px;
    text-align: center;
}

button {
    font-size: 40px;
    background-color: darkred;
}

#hh {
    font-size: 50px;
    color: aqua;
}

#save-btn {
    font-size: 30px;
    background-color: teal;
    margin-left: 30px;
}

#pre {
    font-size: 15px;
    color: red;
}